<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <p>Base is <%= base %> - Gain is <%= gain %></p>
    <p>Hi? <%= hi %></p>
  </body>
</html>